 /* font work sens */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat&family=Open+Sans:wght@400;500&family=PT+Serif&family=Poppins&family=Roboto:wght@100&family=Space+Mono&family=Work+Sans:wght@400;500;600;700&display=swap');


/* sheard istyle */
* {
font-family: 'Work Sans', sans-serif;
}

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

/* Nav section start */
.nav-titel {
    font-weight: 700;
    font-size: 2.8rem;
    color:#131313;

}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > ul {
    display: flex;
}

ul li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* Banner section start */

.bacnner-contan {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}